<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>702825497549-1q3ag27fa0idijebo4hrc00q6jf22g0n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.702825497549-1q3ag27fa0idijebo4hrc00q6jf22g0n</string>
	<key>API_KEY</key>
	<string>AIzaSyAVK2cIsTJm567jsL3FZvwg-P_1cIXW7T8</string>
	<key>GCM_SENDER_ID</key>
	<string>702825497549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.task</string>
	<key>PROJECT_ID</key>
	<string>task-59913</string>
	<key>STORAGE_BUCKET</key>
	<string>task-59913.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702825497549:ios:12bcb8167cd5b17d387a84</string>
</dict>
</plist>